 <!DOCTYPE html> 
    <html class="ui-mobile-rendering">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>depictionary</title> 

    <link rel="stylesheet" href="{{ static_url( 'jquery-mobile/jquery.mobile.min.css') }}" /> 
    <script language="javascript" type="text/javascript" src="{{ static_url( 'js/jquery-1.7.1.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ static_url( 'jquery-mobile/jquery.mobile.min.js') }}"></script>

    <link rel="stylesheet" href="{{ static_url( 'depictionary.css') }}" /> 
    <script language="javascript" type="text/javascript" src="{{ static_url( 'depictionary.js') }}"></script>

    {% block script %}
    {% end block %}
<body> 
{% block main %}{% end %}
</body>
</html>

