#guess-words li{
    text-align: center;
    cursor: pointer;
}

#timer{
    position:absolute;
    right:0;
    top:0;
    width:100px;
    background:#000;
    text-align:center;
    color:#fff;
}

/* http://stackoverflow.com/questions/7936119/setting-maximum-width-for-content-in-jquery-mobile */
body { background-color: #333; }
@media only screen and (min-width: 600px){
    .ui-page {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
/*        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;*/
    }
}
